@using SRMMVC2_.Models.Classes
@model  List<Staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<a style="float: right" href="/Staff/AddStaff" class="btn btn-primary">Personel Ekle</a>
<br />
<br />
<table id="tblstaff" class="table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Personel Adı</th>
            <th>Personel Soyadı</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.StaffName</td>
                <td>@k.StaffSurname</td>
                <td style="width:1%"><button onclick="confirmDelete(@k.StaffId)" class="btn btn-danger">Sil</button></td>
                <td style="width:1%"><a href="/Staff/GetStaff/@k.StaffId" class="btn btn-success">Güncelle</a></td>
                <td style="width:1%"><a href="/Staff/SalesLog/@k.StaffId" class="btn btn-default" style="background-color:coral">Satışlar</a></td>
            </tr>

        }
    </tbody>
</table>

<br />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></link>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link href="~/attention.js-master/dist/attention.css" rel="stylesheet" />
<script src="~/attention.js-master/dist/attention.js"></script>
<script>
    function confirmDelete(val) {
        var deger = val

            new Attention.Confirm({
                title: 'Uyarı',
                content: 'Bu müşteriyi silmek isteidğinize  emin misiniz?',
                onCancel: function (component) {

                },
                onConfirm: function (component) {
                    var url = '@Url.Action("RemoveStaff", "Staff", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', val);
                }
            });


    }
</script>
<script>
    $('#tblstaff').dataTable({
        buttons: ['Kopyala'],
        "responsive": true,
        "dom": '<"html5buttons"B>lTfgitp',

        "language": {
            "emptyTable": "Gösterilecek ver yok.",
            "processing": "Veriler yükleniyor",
            "sDecimal": ".",
            "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
            "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Sayfada _MENU_ kayıt göster",
            "sLoadingRecords": "Yükleniyor...",
            "sSearch": "Ara:",
            "sZeroRecords": "Eşleşen kayıt bulunamadı",
            "oPaginate": {
                "sFirst": "İlk",
                "sLast": "Son",
                "sNext": "Sonraki",
                "sPrevious": "Önceki"
            },
            "oAria": {
                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
            },
            "select": {
                "rows": {
                    "_": "%d kayıt seçildi",
                    "0": "",
                    "1": "1 kayıt seçildi"
                }
            }
        }

    });
</script>