@model SRMMVC2_.Models.Classes.Invoice
@{
    ViewBag.Title = "AddInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <br />
    <div class="card ">
        <h5 class="card-header" style="color:#212529;">Fiş Oluştur</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <div class="col-12">
                        <p><b>Müşteri Seç:</b></p>
                    </div>
                    <div class="col-12">
                        @Html.DropDownListFor(x => x.ClientId, (List<SelectListItem>)ViewBag.val2, new { @class = "form-control" })
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        @Html.TextBoxFor(x => x.Nu, new { @class = "form-control", @placeholder = "Fiş Numarası" })
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Notlar" })
                    </div>
                    <div class="col-12">
                        <br />
                        <button class="btn btn-primary">Fiş ekle</button>
                    </div>
                </div>
                <div class="col-2">
                    <br />
                    <img style="height: 80%; width: 100%" src="~/Web/src/img/invoice.png" />
                </div>
            </div>
        </div>
    </div>
</form>